@use "../../../../ui/src/_mixins.scss" as *;

.item-card {
  text-align: center;
  position: relative;

  &.card {
    overflow: visible;
  }

  .card__content {
    @include selectable-element-rounded;
  }

  [data-element] {
    position: relative;
  }

  &__icon {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    &__icon {
      font-size: 2.5rem;
      margin-bottom: 0.75rem;
    }

    &__title {
      font-size: 1.25rem !important;
      margin-bottom: 0.75rem;
    }

    &__description {
      font-size: 0.95rem !important;
    }
  }
}
